@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext");
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  position: relative;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0%;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-image: url(https://images.pexels.com/photos/417239/pexels-photo-417239.jpeg?auto=compress&cs=tinysrgb&h=350);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.jumbotron h1 {
  color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 1px 2px 2px #660066;
}

.jumbotron h2 {
  color: #000080;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #ff8c1a;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.main {
  width: 100%;
  background-color: #ffdab3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.main .container {
  width: 1000px;
}

.main .col-6 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.main .main_text {
  border: 10px solid #000080;
  background-color: #e68a00;
  width: 85%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #001a1a;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.main p::first-letter {
  color: #004d4d;
  font-size: 36px;
  font-weight: 8800;
}

.main .main_video {
  margin-top: 50px;
}

.main .main_gallery {
  margin-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.main .main_gallery .row {
  width: 100%;
}

.main .main_gallery .row:after {
  content: "";
  display: table;
  clear: both;
}

.main .main_gallery .col-6 {
  width: 50%;
  height: 250px;
}

.main .main_gallery img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #e68a00;
}

.footer {
  width: 100%;
  background-color: #33ffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-weight: 500;
  text-align: center;
  color: #000080;
  text-shadow: 2px 2px 4px #e63900;
}
/*# sourceMappingURL=style.prefixed.css.map */